.menu {
  background-color: var(--main-color);
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobfirst(30) {
    grid-column: span 2;
  }
  &__item {
  }
  &__text {
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      display: none;
      @include mobfirst(30) {
        display: block;
      }
    }
  }
}
