*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7rem;
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: var(--second-color);
}
a {
  text-decoration: none;
}
.header,
.menu,
.sidebar,
.footer,
a {
  color: #000000;
}

svg {
  width: 24px;
  height: 24px;
  fill: #000000;
}

.container {
  max-width: 78.75rem;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: auto auto 1fr auto;

  @include mobfirst(30) {
    grid-template-columns: 12rem 1fr;
  }
}
